code,
pre {
  font-size: 0.8em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  background-color: #000;
  font-size: 14px;
  color: #b9bdb6; }

code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0 5px;
  font-family: "Courier";
  font-size: 14px;
  word-wrap: break-word; }

.highlight {
  margin: 1em 0;
  overflow-x: auto;
  position: relative; }

.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0; }

.highlight .gutter {
  display: none; }

.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0; }

.highlight.html .code:after,
.highlight.js .code:after,
.highlight.javascript .code:after,
.highlight.typescript .code:after,
.highlight.ts .code:after,
.highlight.bash .code:after,
.highlight.css .code:after,
.highlight.scss .code:after,
.highlight.diff .code:after,
.highlight.java .code:after,
.highlight.xml .code:after,
.highlight.python .code:after,
.highlight.json .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600; }

.highlight.html .code:after {
  content: "HTML"; }

.highlight.javascript .code:after,
.highlight.js .code:after {
  content: "JS"; }

.highlight.typescript .code:after,
.highlight.ts .code:after {
  content: "TS"; }

.highlight.bash .code:after {
  content: "BASH"; }

.highlight.css .code:after {
  content: "CSS"; }

.highlight.scss .code:after {
  content: "SCSS"; }

.highlight.diff .code:after {
  content: "DIFF"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.xml .code:after {
  content: "XML"; }

.highlight.python .code:after {
  content: "PYTHON"; }

.highlight.json .code:after {
  content: "JSON"; }

pre {
  color: #525252; }

pre .function .keyword,
pre .constant {
  color: #0092db; }

pre .keyword,
pre .attribute {
  color: #e96900; }

pre .number,
pre .literal {
  color: #ae81ff; }

pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7; }

pre .class .title {
  color: #fff; }

pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #42b983; }

pre .title {
  color: #83B917; }

pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #42b983; }

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3; }

pre .deletion {
  color: #BA4545; }

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5; }
