<aside class="home-menu">
  <nav class="home-icon-con upside">
  <a class="home-menu-icon brand {% if include.pname == 'blog' or (include.pname != 'tech' and include.pname != 'dandp' and include.pname != 'mylinks' and include.pname != 'book' and page.function != 'tipme') %}active{% endif %}" href="/blog/">涛</a>
  {% assign caticons = site.cats %}
  {% for cat in site.categories %}
  {% assign catname = cat[0] %}
  {% unless catname == 'blog' %}
  <a class="home-menu-icon {% if include.pname == catname %}active{% endif %}" href="/blog/{{ catname }}"><i class="fa fa-{{ caticons[catname] }} fa-1x"></i></a>
  {% endunless %}
  {% endfor %}
  <a class="home-menu-icon {% if page.pname == 'mylinks' %}active{% endif %}" href="/blog/mylinks"><i class="fa fa-anchor fa-1x"></i></a>
  <a class="home-menu-icon {% if page.function == 'tipme' %}active{% endif %}" href="/blog/tipme"><i class="fa fa-gratipay fa-1x"></i></a>
  {% if page.function == 'search' %}
  <a class="home-menu-icon active" href="/blog/search"><i class="fa fa-search fa-1x"></i></a>
  {% else %}
  <a class="home-menu-icon" href="javascript:$('.searchbox').focus().css('border', '4px dashed #666');setTimeout(function(){$('.searchbox').focus().css('border', 'none').css('border-bottom', '1px solid #ccc')},1000);"><i class="fa fa-search fa-1x"></i></a>
  {% endif %}
  <a class="home-menu-icon {% if page.function == 'puzzle' %}active{% endif %}" href="/blog/puzzle"><i class="fa fa-puzzle-piece fa-1x"></i></a>
  <a class="home-menu-icon follow" href="javascript:;" title="Contact Me">+</a>
  </nav>
  <div class="home-contact">
    <a href="http://github.com/taoalpha/" target="something"><img src="https://cdn1.iconfinder.com/data/icons/social-shade-rounded-rects/512/github-32.png" alt="" width="25"/></a>
    <a href="http://zzgary.info" target="something" ><img src="https://cdn3.iconfinder.com/data/icons/colore-sociale/32/mewally_32x32.png" alt="" width="25"/></a>
    <a href="http://douban.com/people/129154019/" target="something"><img src="http://img3.douban.com/favicon.ico" alt="" width="25"/></a>
    <a href="http://facebook.com/zzgary/" target="something"><img src="https://cdn1.iconfinder.com/data/icons/social-shade-rounded-rects/512/facebook-32.png" alt="" width="25"/></a>
  </div>

  <nav class="home-icon-con downside">
    <a class="home-menu-icon makecontribution" href="#contribution"><i class="fa fa-pencil fa-1x"></i></a>
    <a class="home-menu-icon" href="javascript:;" id="togglemusic"><i class="fa fa-music fa-1x"></i></a>
  </nav >
  {% include music.html %}
</aside>
<div id="contribution" class="hide">
  <span class="close"></span>
  <input type="email" placeholder="Give me your email" id="sender_mail">
  <textarea id="contributionContent" name="contribution" cols="30" rows="10" placeholder="Thanks for your contribution!
Now tell me what you want to say: feedback ? advice ? contributions ? Whatever you want ^_^.
I will look at it as soon as I receive it and reply you asap.
    "></textarea>
  <input type="submit" id="sendToMe">
</div>
