<section class="home-menu">
    <nav class="home-icon-con upside">
        <a class="home-menu-icon brand active" href="/blog">涛</a>
        <a class="home-menu-icon" href="/blog/tech"><i class="fa fa-wrench fa-1x"></i></a>
        <a class="home-menu-icon" href="/blog/dandp"><i class="fa fa-heartbeat fa-1x"></i></a>
        <a class="home-menu-icon" href="/blog/mylinks"><i class="fa fa-anchor fa-1x"></i></a>
        <a class="home-menu-icon follow" href="#" title="Contact Me">+</a>
    </nav>
    <div class="home-contact">
        <a href="http://facebook.com/taoalpha/" target="_blank"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
        <a href="http://www.douban.com/people//" target="_blank" ><img src="http://www.douban.com/favicon.ico" alt="" width="22"/></a>
        <a href="http://instagram.com//" target="_blank"><img src="http://d36xtkk24g8jdx.cloudfront.net/bluebar/00c6602/images/ico/favicon.ico" alt="" width="22"/></a>
    </div>

    <nav class="home-icon-con downside">
        <a class="home-menu-icon" href="https://github.com/taoalpha/taoalpha.github.com/tree/master/blog/_posts/blog"><i class="fa fa-pencil fa-1x"></i></a>
        <a class="home-menu-icon" href="/blog"><i class="fa fa-sign-in fa-1x"></i></a>
    </nav >
</section>
