{% assign postsAfterFilter = '-' | split: "-" %}
{% assign tagCountEachPost = '-' | split: "-" %}
{% for post in site.related_posts %}
  {% assign commonTagCount = 0 %}
  {% if post.title != page.title and post.series != page.series %}
    {% for tag in post.tags %} 
      {% if page.tags contains tag %}
        {% assign commonTagCount = commonTagCount | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if commonTagCount > 0 %}
      {% assign postsAfterFilter = postsAfterFilter | push: post %}
      {% assign tagCountEachPost = tagCountEachPost | push: commonTagCount %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if postsAfterFilter.size > 0 %}
<div class="relatedposts">
  <h2>Related Posts:</h2>
  <ul class="article-list">
{% assign j = tagCountEachPost | size | minus: 1 %}
{% assign maxIndex = 0 %}
{% assign getFirstNumber = true %}
{% assign selectedIndex = "-"|split: "-" %}
{% for p in (0..j) %}
  {% for i in (0..j) %}
    {% unless selectedIndex contains i %}
      {% if getFirstNumber %}
        {% assign firstNumber = tagCountEachPost[i] %}
        {% assign getFirstNumber = false %}
      {% endif %}
      {% if tagCountEachPost[i] >= firstNumber %}
        {% assign firstNumber = tagCountEachPost[i] %}
        {% assign maxIndex = i %}
      {% endif %}
    {% endunless %}
  {% endfor %}
  {% assign getFirstNumber = true %}
  {% assign selectedIndex = selectedIndex | push: maxIndex %}
  {% if selectedIndex.size < 6 %}
    <li><a href="{{ site.baseurl }}{{ postsAfterFilter[maxIndex]['url'] }}">{{ postsAfterFilter[maxIndex]['title'] }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</div>
{% endif %}

{% comment %} {% assign postsAfterFilter = postsAfterFilter | sort_by_array: {{tagCountEachPost}} %} {% endcomment %}
