<summary class="title-excerpt">{% if post.language =="cn" %}{{ post.content | truncatewords:25 | markdownify | strip_html | replace: "%","" }}{% else %}{{ post.content | truncatewords:60 | markdownify | strip_html | replace: "%","" }} {% endif %}</summary>
<div class="post-info">
  <span class="author"><i class="fa fa-user"></i><a href="/blog/user/{{ post.author }}">{{ post.author }}</a></span>
  <span class="category"><i class="fa fa-briefcase"></i>{% if post.category != "blog" %}<a href="{{ site.baseurl }}/{{ post.category }}">{{ post.category }}{% else %}<a href="{{ site.baseurl }}">blog</a>{% endif %}</a></span>
  <span class="tags"><i class="fa fa-tags"></i>{% for tag in post.tags %}<a href="{{ site.baseurl }}/tag/{{tag}}">{{ tag }}</a>{% endfor %}</span>
  <span class="postdate"><i class="fa fa-history"></i>{{ post.date | date: "%B %d, %Y" }}</span>
  <span class="readspeed"><i class="fa fa-clock-o"></i>{{ post.content | strip_html | strip_newlines | size | divided_by:350 | round | plus: 1}} 分钟读完 </span>
  <span class="viewcount"></span>
</div>
