//= require font-awesome/scss/font-awesome
//= require vendor/_reset
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/animation";

$grayColor : #999;
$sidebarbg : #000;
$lightgreen : #4aab5e;
$lightbrown : #bb977d;
$anchorColor: #BD194B;
$lessgreen : #59D574;

$triadic_blue: #5e4aab;
$complementary_color: #ab4a97;
$tetradic_yellow: #97ab4a;

/***********default settings**********/
.hide {display:none;}
a,a:hover {
  text-decoration:none;
  outline:none;
}
body {
  font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size:16px;
}
h2 {font-size:22px;font-weight:bold;margin:25px auto;}
h3 {font-size:18px;font-weight:bold;margin:25px auto;}
h4,h5,h6 {font-weight:bold;margin:15px auto;}
code {background:#eee;border:1px solid #ccc;padding:0 5px;font-family:"Courier";line-height:14px;font-size:14px;word-wrap:break-word; }
pre {position:relative;background-color:#000;padding:0 0 10px 15px;overflow:hidden;margin:20px auto;font-size:14px;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;color:#b9bdb6;}
pre code{background-color:transparent;border:none;padding:0;}
pre span{line-height:15px;;}

/************layout style*****************/
#content {width:1100px;margin:90px auto 60px;min-height:400px;height:auto !important;height:400px; }

/****************entry style**************/
.sidenav { 
  width:300px; 
  background:#fff; 
  float:right; 
  padding:20px; 
  margin-bottom:50px; 
  @include box-shadow(0 1px 4px #ccc); 
  h2 { font-size:18px; color:#333; margin:10px auto; }
  ul { margin:10px auto; }
  li { margin-bottom:12px; word-break: break-all;padding-left:1em;}
  a { color:#555; font-size:14px; display:block;line-height: 20px;}
  a:hover { color:#222;}
  div.relatedposts{margin-bottom:30px;}
}
.series{
  background-color:$anchorColor;
  cursor:pointer;
  padding:0px;
  h2{
    margin:0px;
    padding:30px;
    position:relative;
    color:white;
    i{position:absolute;right:10px;top:0px;line-height:80px;}
    i.collapse{display:none;}
  }
  ul{display:none;margin:-20px 30px 0px 30px;}
  a.current{color:#3D3D3D;}
  a{color:white;}
  a:hover{color:#eee;}
}
.entry,.comments{
  margin-bottom:80px;
  width:780px; 
  float:left; 
  background:#fff; 
  padding:30px; 
  @include box-shadow(0 2px 6px #ccc); 
}
.entry{
  .entry-title,.entry-title a {font-size:30px;font-weight:bold;margin-bottom:6px;color:#000;text-align:center;word-wrap: break-word;}
  .meta-top{
    margin: 15px auto 20px auto;
    text-align: center;
    color:$grayColor;
    font-size:13px;
    span{margin-left: 12px;}
    .avatar{
      width: 35px;
      height: 35px;
      display: inline-block;
      line-height: 2%;
      border-radius:50%;
      img{
        width: 100%;
        height: 100%;
        border: 2px solid white;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }
  }
  ul{
    margin-bottom:25px;
    margin-left:25px;
    li{
      margin-bottom:5px;
      list-style:disc;
      line-height:1.8em;
    }
  }
  p{
    margin:5px auto;
    line-height:1.6em;
    &:before{
      content:"\00a0 \00a0 \00a0 \00a0 "
    }
  }
  ol{
    margin-bottom:25px;
    margin-left:25px;
    li{
      margin-bottom:5px;
      list-style:decimal;
      line-height:1.1em;
    }
  }
  blockquote,.special{
    padding:10px 10px 10px 20px;
    font-size:14px;
    border-left: 10px solid $lightgreen;
    background-color:$lessgreen;
  }
  pre > code:before {
    content: attr(data-lang)" code";
    display:block;
    background-color:$lightgreen;
    margin:0px -15px 10px -15px;
    padding-left:15px;
    height:30px;
    color:white;
    line-height:30px;
  }
  img{
    max-width:670px;
    display:block;
    margin:10px auto;
  }
  a{
    color:$anchorColor;
    font-weight:bold;
    &:hover{
      border-bottom:1px dotted $anchorColor;
    } 
  }
}

/****************picbar style**************/
.aside {
  position: fixed;
  min-width:350px;
  top: 0;
  left: 0;
  width: 28%;
  height: 100%;
  max-width: 500px;
  background:#000;
  @include box-shadow(-1px 0 0 rgba(0,0,0,0.3)); 
  background-size:cover;
  background-position:50% 50%;
  color:#fff;
  .transparent{
    background:rgba(0,0,0,0.3);
    width:100%;
    height:100%;
  }
  .location {
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
    #cLocation{
      display:none;
      position: absolute;
      right: 12px;
      width: 105%;
      min-width:100px;
      color:#fff;
      top: -2px;
      background-color: transparent;
      height: 25px;
      outline: none;
      border: none;
      border-bottom: 1px solid #fff;
    }
  }
  .weather-en {
    position:absolute;
    bottom:20px;
    right:20px;
  }
  .weather-cn {
    position:absolute;
    font-size:30px;
    bottom:80px;
    left:50px;
  }
  .location-icon{
    color:#fff;
    font-size:14px;
    margin-left:6px;
  }
  .location-icon:hover{
    color:$lightgreen;
  }
}   

/****************picbar style**************/
.index-content {
  margin-left:28%; padding-right:10%;
  img{ max-width:120%;}
  ul{padding-left:35px;}
  .article-list { 
    clear:both;
    padding-left:40px; 
    li.post { 
      margin-bottom:20px; 
      border-bottom:1px dashed #ddd;
      h2{ 
        font-size:24px;
        font-family:'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
      }
    }
  }
  h2 { font-size:20px; margin-bottom:15px; word-break: break-all;}
  a { 
    color:#444; 
    font-weight:bold; 
    &:visited{color:#888;}
    &:visited:hover,&:hover { color:$lightgreen; text-decoration:none; }
  }
  a.showupdate:after{
    content:"!";
    color:$lightgreen;
    font-size:25px;
    line-height:28px;
    margin-left:10px;
  }
  a.showupdate:visited:after{
    color:#888;
  }
  a.showupdate:visited:hover:after,
  a.showupdate:hover:after{
    content:"! Updated !";
    color:$lightgreen;
    font-size:25px;
    line-height:28px;
    margin-left:10px;
  }
  .title-excerpt {color:#717174;font-size:14px;line-height:1.8em;margin-bottom:6px;}
  .post-info{
    color:#bbb;
    font-size:13px;
    margin-bottom:20px;
    i,span{ margin-right:5px;}
    a{color:#bbb;margin-right:2px;font-weight:normal;}
    a:nth-of-type(n+2):before{content:",";padding-right:2px;}
    a:hover{color:#999}
  }
  ul.article-cate { 
    height:40px; line-height:40px; padding-left:25px; border-bottom:1px solid #ccc; text-align:center;
    li { 
      display:block; float:left; zoom:1; font-size:15px;cursor:pointer;
      a,a:visited { display:inline-block; zoom:1; color:$grayColor; width:60px; height:40px; }
      a:hover { text-decoration:none; color:#000;border-bottom:1px solid #000;background-color:#eee;}
      &.on a{ color:#000; border-bottom:1px solid #000;}
    }
  }
  .cate-bar{
    margin-top: 20px;
    display: inline-block;
    .tags{
      display: inline-block;
      //margin: 30px 0px 20px 33px;
      .tag{
        display:none;
        float:left;
        padding:5px 10px;
        border-radius:14px;
        border:1px solid #ccc;
        margin:5px 5px;
        color:$grayColor;
        font-size:12px;
        font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
        &:hover,&.active{
          cursor:pointer;
          color:#000;
          border:1px solid $grayColor;
        }
        &.active{
          background-color:$lightgreen;
          color:#fff;
          border:1px solid $lightgreen;
        }
      }
    }
  }
}

/****************pagination style**************/
.pagination{
  width: 300px;
  height: 50px;
  margin: -10px auto;
  a,em{
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    background-color:$lightgreen;
    display:inline-block;
    float:left;
    margin-right:10px;
    border-top: 1px solid #aff797;
    font-weight:normal;
    @include box-shadow(1px 0px 0 rgba(black,0.5)); 
    @include border-radius(4px, 4px);
    @include background-image(linear-gradient(#65d66c,$lightgreen));
    &:hover,&:hover:visited,&:visited{color:#000;}
  }
  em{background:$grayColor;}
  .prev,.next{
    width:60px;
  }
  a:hover{
    color:black;
    @include background-image(linear-gradient($lightgreen,#3e9c6a));
  }
}


/***********Mylinks page Style**************/
.mylinks{
  margin:0px;
  ul{padding:0px;}
  .link-box{
    .post{
      padding:0px;
      float:left;
      width:23%;
      margin:20px 0 40px 10px;
      overflow:hidden;
      border-left:1px solid #ccc;
      &:nth-child(4n+1){clear: both;}
      h2.title{
        margin: auto;
        border-left:4px solid $lightgreen;            
        font-size:26px;
        padding-left:15px;
      }
      li{
        padding:5px 0 5px 22px;
        position:relative;
        border-left:1px solid rgba(0,0,0,0);            
        &:hover{border-left:1px solid $lightgreen;}
        &:before{
          content: ' ';
          position: absolute;
          left: 10px;
          top: 50%;
          margin-top: -2px;
          height: 4px;
          width: 4px;
          background-color: #ccc;
        }
        .sub-title{
          position: relative;
          padding-left: 10px;
          font-size: 13px;
          color: $grayColor;
        }
      }
    }
  }
}


/***************Tag Page Bread Navigation Style*****************/
#bread{color:$grayColor;margin-left:40px;
  border-bottom:1px dashed #666;
  a{color:$grayColor;}
  a:hover{color:#000;}
}
/***************Wiki Style*****************/
.wiki h2{cursor:pointer;}
.wiki ul{margin-left:30px;margin-bottom:20px;list-style:disc}
.wiki ul li{margin-bottom:5px;}
.wiki ul ul{list-style:circle;margin-top:10px;margin-bottom:10px;}

/**************Tipme Page**************/
.tipmeqrcode{
  width:90%;
  img{
    width:50%;
    float:left;
  }
}

.wishbooks{
  .books{
    li.book_item{
      width:32%;
      float:left;
      list-style:none;
      a{display:block;width:100%;position:relative;height:220px;overflow:hidden;
        img{width:80%;}
        span{
          display:block;
          width:80%;
          height:100%;
          position:absolute;
          top: 0px;
          background-color: rgba(0, 0, 0, 0.64);
          left: 10%;
          line-height:100%;
          text-align: center;
          padding: 40% 2%;
          color:white;
        }
        &:hover{border:none;
          span{
            background-color:rgba(0,0,0,0.4);
          }
        }
      }
    }
  }
}

/**************目录导航**************/
#menuIndex {overflow:auto;}
#menuIndex a {display:block; padding:2px 0; }
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul {margin-bottom:10px;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#f5f5f5;}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

.home-menu { position:fixed; top:0; left:0; z-index:5; width:40px; height:100%; background-color:$sidebarbg; @include box-shadow(-1px 0px 5px #fff);}
.home-icon-con.downside{position:absolute; bottom:0; left:0; width: 100%;}
.home-menu-icon { display:block; text-align: center; color:#eee; font-size:16px;  line-height:40px; height:40px; background:$sidebarbg; }
.home-follow { margin-left:2px; line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px; background:$sidebarbg;  }
.home-menu-icon:hover,.home-menu-icon.active,
.home-follow:hover { background-color:$lightgreen; color:#fff; text-decoration:none; }
.home-contact { color:#fff; margin:-40px 0 0 40px;width:150px; background:$sidebarbg; padding:10px 0 9px; text-align:center; display:none;}
.home-contact a { width:30px; display:inline-block; }
.home-contact img { width:20px; }

/**************Music Bar**************/
#togglemusic i.rotate{
  @include animation(selfrotation 15s linear infinite);
}
#musicbar{
  display:none;
  position:absolute;
  bottom:0px;
  left:32px;
}
@include keyframes(selfrotation){
  from {
    @include rotate(0deg)
  }
  to {
    @include rotate(360deg)
  }
}

@media screen and (max-width: 750px){
  body {font-size:14px;}
  #content {width:85%;margin:100px auto 50px; }

  h2{font-size:20px;}
  h3{font-size:16px;}
  embed {display:none;}
  a.brand{ background-color:$lightgreen; color:#fff; text-decoration:none; }

  .entry-title,.entry-title a {font-size:24px;}
  .entry-date {margin-bottom:40px;}
  .entry img{max-width:90%;}
  .entry pre ol li{margin-bottom:0;line-height:1em;}
  .entry pre code{line-height:1em;font-size:12px;}
  .sidenav {display:none;}
  .entry,.comments {float:none;width:auto;background:transparent;padding:0;box-shadow:none;}

  .aside { position:relative; width:100%; height:300px; max-width:none; }
  .index-content{ margin-left:0; padding-right:0; }
  .index-content ul { width:85%;}
  .index-content .cate-bar { width:85%; }

  .blogpost .aside{display:none;background-image:none;}

  .home-menu { height:auto;}
  .home-icon-con.downside,.upside .home-menu-icon{display:none;}
  .upside .home-menu-icon.brand{display:block}
  .upside:hover>a{display:block;}
  .home-contact { color:#fff; margin:0; width:40px; line-height:40px; height:120px; background:#000; padding:10px 0 9px; text-align:center; display:none;}
  span.author,span.category{display:none;}
  div.post-info span{line-height:20px;}
}

@media screen and (max-width:1260px) and (min-width: 750px) {
  .aside{width:400px;}
  .index-content{margin-left:400px;padding-right:10px;}
}
