$prefix_image_path : 'http://fun.zzgary.info/wordsdiary/';
*{box-sizing:border-box;}
body {
  color:white;
  background:#2a2f35;
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

section.puzzle{padding-right:0px;}
.clear {
  clear:both;
  line-height:0;
  font-size:0;
}

/* ===================== Top ============= */

$top-height:80px;

.puzzle-top{
  background:#c95d4f;
  width:100%;
  height:$top-height;
  color:white;
  .newbutton{
    width:$top-height;
    height:$top-height;
    background:#b05146;
    font-size:1.8em;
    line-height:$top-height;
    float:right;
    text-align:center;
  }
  .namespace{
    padding:0 0 0 40px;
    float:left;
    h1{
      font-size:1.2em;
      display:block;
      margin:20px 0 0 0;
    }
    span{
      float:left;
      margin: 10px 15px 0 0px;
      i:before{
        padding-right:5px;
      }
    }
  }
}

/* ============ TIMELINE ============= */

.timeline-container {
  border-left:5px solid rgba(255,255,255,0.19);
  margin:0 40px auto;
  width:100%;

  // toggle for expanding or collapsing all puzzles
  .timeline-toggle {
    float:right;
    border:none;
    padding: 10px;
    &:hover {
      background: rgba(211, 77, 84, 0.48);
      cursor:pointer;
    }
  }

  // main content area of all puzzles of a day
  .timeline-wrapper {
    position:static;
    clear:left;
    float:left;
    width:88%;
    margin:20px 45px;
    background:#e3edef;
    &.check:before{
      content:"\f00c";
    }
    &.ongoing:before{
      content:"\f252";
      color:#cd5e51;
      font-size: 0.8em;
      padding: 4px 2px;
    }
    &:before{
      font-family: Fontawesome;
      width:20px;
      height:20px;
      color:#5fb594;
      display:block;
      background-color:#2a2f35;
      position:relative;
      left:-55px;
      top:25px;
    }

    // date title, show the date of the puzzles created
    h2.date-title {

      //font-family:Palatino,"Times New Roman", Times, serif;
      background:#1a1d22;
      cursor: pointer;
      font-size:1.0em;
      height:70px;
      margin: -20px 0px 0px;
      &:before{
        content:'\f0d9';
        position:absolute;
        color:#1a1d22;
        margin:4px -5px;
        display:block;
        font-family: Fontawesome;
        zoom: 3;
      }
      span{
        display:block;
        line-height:70px;
        float:left;
        padding:0 35px 0 25px;
        &.count {
          opacity:0.4;
          float:right;
        }
      }
    }

    // one puzzle block
    .timeline-series {
      position:relative;
      overflow: hidden;
      color:#000;
      opacity:0.7;
      width:100%;
      background: #d4e0e2;
      //nth-last-of-type(n + 2) also works
      &:not(:last-child) .timeline-event{
        border-bottom: 2px dotted #464a4a;
      }

      &.check .timeline-event span{
        color:#5fb594;
      }

      // title of the puzzle, seen by default after you click the date title
      .timeline-event {
        clear:left;
        white-space:nowrap;
        text-overflow:ellipsis;
        background-color: #e3edef;
        padding:15px 20px 20px 25px;
        list-style-type:none;
        line-height:1.2em;
        cursor:pointer;
        .puzzle_title{
          font-size:0.9em;
        }
        &:before{
          content:'\f128';
          font-size: 2.5em;
          font-family:fontawesome;
          color:#5c569b;
          position:relative;
          top:8px;
          padding-right:10px;
        }
        span{
          float:right;
          margin:-2px 30px;
          color:#b0b9c1;
        }
      }

      // details of the puzzle, including the description of a puzzle and the answer area you can edit.
      .timeline-event-content {
        display:none;
        width:100%;
        background: #d4e0e2;
        font-size:0.8em;
        padding: 10px 0px 10px 60px;
        p.puzzle-desc {
          line-height:1.5em;
          opacity:0.8;
        }
        .editanswer{
          outline:none;
          opacity:0.7;
          background-color:#d4e0e2;
          border:1px dotted #464a4a;
          display:block;
          margin:15px 35px 5px 0px;
          padding:5px;
          height:70px;
          font-style: italic;
        }
        h4 {
          clear:left;
          float:left;
          font-size:1.4em;
          font-weight:400;
          margin:10px 0 0;
          padding:0 0 0 20px;
        }
        blockquote {
          /*border-left:2px solid #ccc;*/
          border-left:4px solid rgba(255,255,255,0.19);
          clear:left;
          float:left;
          font-size:1.8em;
          margin-left:0;
          padding:0 30px;
          width:400px;
        }
        blockquote .attribution{
          font-size:0.7em;
          text-align: right;
        }
        div.media {
          float:right;
          padding:0 0 12px;
          width:300px;
            margin-right: 20px;
        }
        .media img {
          border:2px solid #000;
          margin:0;
          &.youtube{
            display:none;
          }
        }
        .media p {
          font-size:1.2em;
          margin:0;
          padding:0;
        }
        .media a{
          width:244px;
          height:180px;
          line-height:180px;
          text-align:center;
          display:block;
        }
        .media a:link,.media a:visited {
          color:#ab221b;
        }
        .media a:hover {
          color:#7DBADF;
        }
      }
    }
  }
}
