$prefix_image_path : 'http://fun.zzgary.info/wordsdiary/';
*{box-sizing:border-box;}
body {
  color:white;
  background:#2a2f35;
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

section.puzzle{padding-right:0px;}
.clear {
  clear:both;
  line-height:0;
  font-size:0;
}

/* ===================== Top ============= */

$top-height:80px;

.puzzle-top{
  background:#c95d4f;
  width:100%;
  height:$top-height;
  color:white;
  .newbutton{
    width:$top-height;
    height:$top-height;
    background:#b05146;
    font-size:1.8em;
    line-height:$top-height;
    float:right;
    text-align:center;
  }
  .namespace{
    padding:0 0 0 40px;
    float:left;
    h1{
      font-size:1.2em;
      display:block;
      margin:20px 0 0 0;
    }
    span{
      float:left;
      margin: 10px 15px 0 0px;
      i:before{
        padding-right:5px;
      }
    }
  }
}

/* ============ TIMELINE ============= */

.timeline-container {
  border-left:5px solid rgba(255,255,255,0.19);
  margin:0 40px auto;
  width:100%;

  // toggle for expanding or collapsing all puzzles
  .timeline-toggle {
    float:right;
    border:none;
    padding: 10px;
    &:hover {
      background: rgba(211, 77, 84, 0.48);
      cursor:pointer;
    }
  }

  // main content area of all puzzles of a day
  .timeline-wrapper {
    position:static;
    clear:left;
    float:left;
    width:88%;
    margin:20px 45px;
    background:#e3edef;
    &.check:before{
      content:"\f00c";
    }
    &.ongoing:before{
      content:"\f252";
      color:#cd5e51;
      font-size: 0.8em;
      padding: 4px 2px;
    }
    &:before{
      font-family: Fontawesome;
      width:20px;
      height:20px;
      color:#5fb594;
      display:block;
      background-color:#2a2f35;
      position:relative;
      left:-55px;
      top:25px;
    }

    // date title, show the date of the puzzles created
    h2.date-title {

      //font-family:Palatino,"Times New Roman", Times, serif;
      background:#1a1d22;
      cursor: pointer;
      font-size:1.0em;
      height:70px;
      margin: -20px 0px 0px;
      &:before{
        content:'\f0d9';
        position:absolute;
        color:#1a1d22;
        margin:4px -5px;
        display:block;
        font-family: Fontawesome;
        zoom: 3;
      }
      span{
        display:block;
        line-height:70px;
        float:left;
        padding:0 35px 0 25px;
        &.count {
          opacity:0.4;
          float:right;
        }
      }
    }

    // one puzzle block
    .timeline-series {
      position:relative;
      overflow: hidden;
      color:#000;
      opacity:0.7;
      width:100%;
      background: #d4e0e2;
      //nth-last-of-type(n + 2) also works
      &:not(:last-child) .timeline-event{
        border-bottom: 2px dotted #464a4a;
      }

      // title of the puzzle, seen by default after you click the date title
      .timeline-event {
        clear:left;
        white-space:nowrap;
        text-overflow:ellipsis;
        font-size:0.9em;
        background-color: #e3edef;
        padding:20px 20px 20px 25px;
        list-style-type:none;
        line-height:1.2em;
        cursor:pointer;
        &:before{
          content:'\f128';
          font-size: 2.5em;
          font-family:fontawesome;
          color:#5c569b;
          position:relative;
          top:5px;
          padding-right:10px;
        }
        span{
          float:right;
          margin:-2px 30px;
          color:#b0b9c1;
          &.check{
            color:#5fb594;
          }
        }
      }

      // details of the puzzle, including the description of a puzzle and the answer area you can edit.
      .timeline-event-content {
        width:100%;
        background: #d4e0e2;
        font-size:0.8em;
        padding: 10px 0px 10px 60px;
        p.puzzle-desc {
          line-height:1.5em;
          opacity:0.7;
        }
        .editanswer{
          outline:none;
          opacity:0.3;
          background-color:#d4e0e2;
          border:1px dotted #464a4a;
          display:block;
          margin:15px 35px 5px 0px;
          padding:5px;
          height:70px;
        }
        h4 {
          clear:left;
          float:left;
          font-size:1.4em;
          font-weight:400;
          margin:10px 0 0;
          padding:0 0 0 20px;
        }
        blockquote {
          /*border-left:2px solid #ccc;*/
          border-left:4px solid rgba(255,255,255,0.19);
          clear:left;
          float:left;
          font-size:1.8em;
          margin-left:0;
          padding:0 30px;
          width:400px;
        }
        blockquote .attribution{
          font-size:0.7em;
          text-align: right;
        }
        div.media {
          float:right;
          padding:0 0 12px;
          width:300px;
            margin-right: 20px;
        }
        .media img {
          border:2px solid #000;
          margin:0;
          &.youtube{
            display:none;
          }
        }
        .media p {
          font-size:1.2em;
          margin:0;
          padding:0;
        }
        .media a{
          width:244px;
          height:180px;
          line-height:180px;
          text-align:center;
          display:block;
        }
        .media a:link,.media a:visited {
          color:#ab221b;
        }
        .media a:hover {
          color:#7DBADF;
        }
      }
    }
  }
}

/* Smartphones (landscape and portrait) ----------- */
@media screen and (max-width: 768px) {

    body {
        font-size: large;
    }

    h1{
      font-size:25px;
    }

    .container {
       padding:30px;
       width:90%;
    }

    div.addnew{
      position:static;
      font-size:15px;
      line-height:20px;
    }

    div#timeline{
        width:100%;
    }

    div.timeline-toggle{
       float:none;
    }

    .timeline-event-content div.media {
        display:none;
        float:none;
    }
    div.timeline-wrapper{
        width:100%;
      span{
          font-size:24px;
      }

      dt {
         font-size:1em;
         white-space: normal;
      }

      dd h3 {
         font-size:1em;
         white-space: normal;
         padding: 5px 10px 0px 15px;
      }
    }

    .timeline-series dd {
        padding-left:0;
        width:100%;
    }

    .timeline-event-content .media p {
       font-size:1em;
    }

    dl.timeline-series {
       float:none;
       max-width:100%;
    }

    .timeline-event-content p {
       float:none;
       width:88%;
       padding: 5px 0 0 20px;
       font-size:20px;
    }

    .timeline-event-content blockquote {
       float:none;
       width:200px;
       font-size:1em;
    }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

    * {
        max-width: 300px;
    }

}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(#{$prefix_image_path}/images/overlay.png) repeat 0 0;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(#{$prefix_image_path}/images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(#{$prefix_image_path}/images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(#{$prefix_image_path}/images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(#{$prefix_image_path}/images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(#{$prefix_image_path}/images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(#{$prefix_image_path}/images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(#{$prefix_image_path}/images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(#{$prefix_image_path}/images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(#{$prefix_image_path}/images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(#{$prefix_image_path}/images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(#{$prefix_image_path}/images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(#{$prefix_image_path}/images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(#{$prefix_image_path}/images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
