---
layout: home_base
---
<nav>
  <ul class="article-cate">
    <li {% if page.pname == 'blog' %}class="on"{% endif %}><a href="{{ site.baseurl }}"><span>Blog</span></a></li>
    {% for category in site.categories %}
    {% if category[0] != 'blog' %}
    <li {% if page.pname == category[0] %}class="on"{% endif %}><a href="{{ site.baseurl }}/{{category[0]}}"><span>{{ category[0] | capitalize }}</span></a></li>
    {% endif %}
    {% endfor %}
    <li><a href="http://zzgary.info" target="something" style="width:70px;">Portfolio</a></li>
  </ul>
</nav>


<nav class="cate-bar">
  {% assign tags = "all" %}
  {% assign cposts = paginator.posts %}
  {% assign alltags = cposts | map: "tags" | join:"," | split:","|uniq_i|reverse|push:"All"|reverse %}
  <ul class="tags">
  {% for tag in alltags %}
      <a href="javascript:;" data-rel="{{ tag|replace:" ","-" }}" class="filter tag {% if tag == 'All'  %}active{% endif %}" >{{ tag }}</a>
  {% endfor %}
  </ul>
</nav>

<article>
  <ul class="article-list">
    {% for post in cposts %}
    <li class="post" data-filter="{{ post.tags|uniq_i|join_tags|join:' '}}">
    <h2><a {% if post.content contains 'gotsomeupdateshere' %}class="showupdate" {% endif %}href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    {% include summary.html %}
    </li>
    {% endfor %}
  </ul>
</article>

