---
layout: default
pname: blogpost
---

{% stylesheet syntax %}
<article id="content">
    <section class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        {% assign author = site.authors[page.author] %}
        <div class="meta-top">
            <a href="/blog/user/{{ page.author }}">
                <div class="avatar" style="display:inline-block;"><img src="{{ author.avatar }}" alt="100"></div>
                <span>{{ author.display_name }}</span>
            </a>        
            <span>{{ page.date|date:"%Y-%m-%d" }}</span>
            <span class="wordage">{{ content | strip_html | strip_newlines | size }} 字 </span>
            <span class="readspeed">{{ content | strip_html | strip_newlines | size | divided_by:350 | round}} 分钟读完 </span>
        </div>
        {{ content }}
    </section>

    <aside class="sidenav">
      {% for category in site.categories %}
      <h2><a href="{% if category[0] == 'blog' %} /blog {% else %} /blog/{{category[0]}}/{% endif %}">{{ category[0] | capitalize }}</a></h2>
        <ul class="article-list">
        {% for post in category[1] limit:3 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      {% endfor %}
    </aside>

    {% include duoshuo.html %}

</article >

{% javascript post %}
